In [639]:
import http.client
import json
import csv

In [640]:
class Graph:

    # Do not modify
    def __init__(self, with_nodes_file=None, with_edges_file=None):
        """
        option 1:  init as an empty graph and add nodes
        option 2: init by specifying a path to nodes & edges files
        """
        self.nodes = []
        self.edges = []
        if with_nodes_file and with_edges_file:
            nodes_CSV = csv.reader(open(with_nodes_file))
            nodes_CSV = list(nodes_CSV)[1:]
            self.nodes = [(n[0],n[1]) for n in nodes_CSV]

            edges_CSV = csv.reader(open(with_edges_file))
            edges_CSV = list(edges_CSV)[1:]
            self.edges = [(e[0],e[1]) for e in edges_CSV]


    def add_node(self, id: str, name: str)->None:
        """
        add a tuple (id, name) representing a node to self.nodes if it does not already exist
        The graph should not contain any duplicate nodes
        """
        name = name.encode("ascii", "ignore").decode("ascii")
        t = (id, name)
        if t not in set(self.nodes):
            self.nodes.append(t)


    def add_edge(self, source: str, target: str)->None:
        """
        Add an edge between two nodes if it does not already exist.
        An edge is represented by a tuple containing two strings: e.g.: ('source', 'target').
        Where 'source' is the id of the source node and 'target' is the id of the target node
        e.g., for two nodes with ids 'a' and 'b' respectively, add the tuple ('a', 'b') to self.edges
        """
        t = (source, target)
        edges = set(self.edges)
        nodes = [t, tuple(reversed(t))]
        check = any(item in edges for item in nodes)
        if not check:
            self.edges.append(t)


    def total_nodes(self)->int:
        """
        Returns an integer value for the total number of nodes in the graph
        """
        return len(self.nodes)


    def total_edges(self)->int:
        """
        Returns an integer value for the total number of edges in the graph
        """
        return len(self.edges)


    def max_degree_nodes(self)->dict:
        """
        Return the node(s) with the highest degree
        Return multiple nodes in the event of a tie
        Format is a dict where the key is the node_id and the value is an integer for the node degree
        e.g. {'a': 8}
        or {'a': 22, 'b': 22}
        """
        d = {}
        for (a, b) in self.edges:
            if a not in d.keys():
                d[a] = 1
            else:
                d[a] += 1
            if b not in d.keys():
                d[b] = 1
            else:
                d[b] += 1
        output = {k : v for k, v in d.items() if v == max(d.values())}
        return output


    def print_nodes(self):
        """
        No further implementation required
        May be used for de-bugging if necessary
        """
        print(self.nodes)


    def print_edges(self):
        """
        No further implementation required
        May be used for de-bugging if necessary
        """
        print(self.edges)


    # Do not modify
    def write_edges_file(self, path="edges.csv")->None:
        """
        write all edges out as .csv
        :param path: string
        :return: None
        """
        edges_path = path
        edges_file = open(edges_path, 'w')

        edges_file.write("source" + "," + "target" + "\n")

        for e in self.edges:
            edges_file.write(e[0] + "," + e[1] + "\n")

        edges_file.close()
        print("finished writing edges to csv")


    # Do not modify
    def write_nodes_file(self, path="nodes.csv")->None:
        """
        write all nodes out as .csv
        :param path: string
        :return: None
        """
        nodes_path = path
        nodes_file = open(nodes_path, 'w')

        nodes_file.write("id,name" + "\n")
        for n in self.nodes:
            nodes_file.write(n[0] + "," + n[1] + "\n")
        nodes_file.close()
        print("finished writing nodes to csv")



class  TMDBAPIUtils:

    # Do not modify
    def __init__(self, api_key:str):
        self.api_key=api_key


    def get_movie_cast(self, movie_id:str, limit:int=None, exclude_ids:list=None) -> list:
        """
        Get the movie cast for a given movie id, with optional parameters to exclude an cast member
        from being returned and/or to limit the number of returned cast members
        documentation url: https://developers.themoviedb.org/3/movies/get-movie-credits

        :param integer movie_id: a movie_id
        :param integer limit: number of returned cast members by their 'order' attribute
            e.g., limit=5 will attempt to return the 5 cast members having 'order' attribute values between 0-4
            If there are fewer cast members than the specified limit or the limit not specified, return all cast members
        :param list exclude_ids: a list of ints containing ids (not cast_ids) of cast members  that should be excluded from the returned result
            e.g., if exclude_ids are [353, 455] then exclude these from any result.
        :rtype: list
            return a list of dicts, one dict per cast member with the following structure:
                [{'id': '97909' # the id of the cast member
                'character': 'John Doe' # the name of the character played
                'credit_id': '52fe4249c3a36847f8012927' # id of the credit, ...}, ...]
                Note that this is an example of the structure of the list and some of the fields returned by the API. The result of the API call will include many more fields for each cast member.
        Important: the exclude_ids processing should occur prior to limiting output.
        """
        connection = http.client.HTTPSConnection("api.themoviedb.org")
        connection.request("GET", "/3/movie/{}/credits?api_key={}".format(movie_id, self.api_key))
        response = connection.getresponse()
        body = response.read().decode()
        movie_cast = json.loads(body)
        if movie_cast is not None:
            output = [d for d in movie_cast['cast']]
            if exclude_ids is not None:
                output = [d for d in output if d['id'] not in exclude_ids]
            if limit is not None:
                output = [d for d in output if d['order'] < limit]
        else:
            output = []
        return output


    def get_movie_credits_for_person(self, person_id:str, vote_avg_threshold:float=None)->list:
        """
        Using the TMDb API, get the movie credits for a person serving in a cast role
        documentation url: https://developers.themoviedb.org/3/people/get-person-movie-credits

        :param string person_id: the id of a person
        :param vote_avg_threshold: optional parameter to return the movie credit if it is >=
            the specified threshold.
            e.g., if the vote_avg_threshold is 5.0, then only return credits with a vote_avg >= 5.0
        :rtype: list
            return a list of dicts, one dict per movie credit with the following structure:
                [{'id': '97909' # the id of the movie credit
                'title': 'Long, Stock and Two Smoking Barrels' # the title (not original title) of the credit
                'vote_avg': 5.0 # the float value of the vote average value for the credit}, ... ]
        """
        connection = http.client.HTTPSConnection("api.themoviedb.org")
        connection.request("GET", "/3/person/{}/movie_credits?api_key={}&language=en-US".format(person_id, self.api_key))
        response = connection.getresponse()
        body = response.read().decode()
        person_credits = json.loads(body)
        if person_credits is not None:
            output = [
                {
                    k : v
                    for k, v in d.items()
                    if k in {'credit_id', 'title', 'vote_average', 'id'}
                }
                for d in person_credits['cast']
            ]
            if vote_avg_threshold is not None:
                output = [d for d in output if d['vote_average'] >= vote_avg_threshold]
        else:
            output = []
        return output

In [632]:
api_key = 'e6c6d80656546a1dd359ab0b71ca6432'
top_node = {'id' : '5064', 'name' : 'Meryl Streep'}

In [638]:
def combinations(lst, n):
    if n == 0:
        return [[]]
    l = []
    for i in range(0, len(lst)):
        m = lst[i]
        remainding_lst = lst[i + 1:]
        for p in combinations(remainding_lst, n - 1):
            l.append([m] + p)
    return l

def coactor_network(api_key:str, top_node:dict, iteration:int = 3) -> None:
    graph = Graph()
    graph.add_node(top_node['id'], top_node['name'])
    tmdb_api_utils = TMDBAPIUtils(api_key = api_key)
    iterable = graph.nodes
    for (person_id, name) in iterable:
        person_credits = tmdb_api_utils.get_movie_credits_for_person(person_id, vote_avg_threshold = 8.0)
        movie_cast = {}
        for d in person_credits:
            movie_cast[d['id']] = tmdb_api_utils.get_movie_cast(d['id'], limit = 3, exclude_ids = None)
        for movie_id, cast in movie_cast.items():
            for actor in cast:
                person_id1 = str(actor['id'])
                name1 = actor['name']
                if (person_id1, name1) not in set(graph.nodes):
                    graph.add_node(id=person_id1, name=name1)
                    iterable.
                combo_list = [str(d2['id']) for d2 in cast]
                if person_id not in set(combo_list):
                    combo_list.append(person_id)
                for t in combinations(combo_list, 2):
                    if t[0] != t[1] and (t[0], t[1]) not in set(graph.edges) and (t[1], t[0]) not in set(graph.edges):
                        graph.add_edge(source=t[0], target=t[1])
        if iteration == 0:
            break
        iteration -= 1
        
    graph.write_edges_file()
    graph.write_nodes_file()

coactor_network(api_key, top_node)

start_iteration_3
end_iteration_3
start_iteration_2
end_iteration_2
start_iteration_1
end_iteration_1
start_iteration_0
end_iteration_0
finished writing edges to csv
finished writing nodes to csv

In [666]:
test = []
t = 1 
s = 2
test.append((t, s))
test.pop
test

[(1, 2)]

In [641]:
graph = Graph()
graph.add_node(id='5064', name='Meryl Streep')
tmdb_api_utils = TMDBAPIUtils(api_key = api_key)

In [656]:
print(type(graph.nodes))

<class 'list'>

In [643]:
top_node_person_id = graph.nodes[0][0]

In [644]:
person_credits = tmdb_api_utils.get_movie_credits_for_person(top_node_person_id, vote_avg_threshold = 8.0)

In [645]:
movie_cast = {}
for d in person_credits:
    movie_cast[d['id']] = tmdb_api_utils.get_movie_cast(d['id'], limit = 3, exclude_ids = None)

In [646]:
set(graph.nodes)

{('5064', 'Meryl Streep')}

In [647]:
set(graph.edges)

set()

In [648]:
def combinations(lst, n):  
    if n == 0: 
        return [[]]  
    l = [] 
    for i in range(0, len(lst)):     
        m = lst[i] 
        remainding_lst = lst[i + 1:] 
        for p in combinations(remainding_lst, n-1): 
            l.append([m] + p)   
    return l

In [649]:
for k, v in movie_cast.items():
    for d in v:
        person_id = str(d['id'])
        name = d['name']
        if (person_id, name) not in set(graph.nodes):
            graph.add_node(id = person_id, name = name)
        combo_list = [str(d2['id']) for d2 in v]
        if top_node_person_id not in set(combo_list):
            combo_list.append(top_node_person_id)
        for t in combinations(combo_list, 2):
                if t[0] != t[1] and (t[0], t[1]) not in set(graph.edges):
                    graph.add_edge(source = t[0], target = t[1])

In [650]:
print(graph.edges)

[('5064', '1776'), ('5064', '488'), ('1776', '488'), ('5064', '190'), ('5064', '1277188'), ('380', '4690'), ('380', '3096'), ('380', '5064'), ('4690', '3096'), ('4690', '5064'), ('3096', '5064'), ('10400', '5064'), ('36592', '1373737'), ('36592', '10990'), ('36592', '5064'), ('1373737', '10990'), ('1373737', '5064'), ('10990', '5064'), ('10215', '230194'), ('10215', '5064'), ('230194', '5064'), ('325', '5064'), ('2231', '1'), ('2231', '5064'), ('1', '5064'), ('131', '107515'), ('131', '60034'), ('131', '5064'), ('107515', '60034'), ('107515', '5064'), ('60034', '5064'), ('33829', '1164'), ('33829', '5064'), ('1164', '5064')]

In [651]:
print(graph.nodes)

[('5064', 'Meryl Streep'), ('1776', 'Francis Ford Coppola'), ('488', 'Steven Spielberg'), ('190', 'Clint Eastwood'), ('1277188', 'Jacob Tremblay'), ('380', 'Robert De Niro'), ('4690', 'Christopher Walken'), ('3096', 'John Cazale'), ('10400', 'Barbra Streisand'), ('36592', 'Saoirse Ronan'), ('1373737', 'Florence Pugh'), ('10990', 'Emma Watson'), ('10215', 'Paul McCartney'), ('230194', 'Abraham Laboriel Jr.'), ('325', 'Eminem'), ('2231', 'Samuel L. Jackson'), ('1', 'George Lucas'), ('131', 'Jake Gyllenhaal'), ('107515', 'Ral Esparza'), ('60034', 'Laura Benanti'), ('33829', 'Terrence McNally'), ('1164', 'F. Murray Abraham')]

In [652]:
assert len(set(graph.edges)) == len(graph.edges)
assert len(set(graph.nodes)) == len(graph.nodes)

In [653]:
for (person_id, name) in graph.nodes[1:]:
    person_credits = tmdb_api_utils.get_movie_credits_for_person(person_id, vote_avg_threshold = 8.0)
    movie_cast = {}
    for d in person_credits:
        movie_cast[d['id']] = tmdb_api_utils.get_movie_cast(d['id'], limit = 3, exclude_ids = None)
    for k, v in movie_cast.items():
        for d1 in v:
            person_id1 = str(d1['id'])
            name1 = d1['name']
            if (person_id1, name1) not in set(graph.nodes):
                graph.add_node(id = person_id1, name = name1)
            combo_list = [str(d2['id']) for d2 in v]
            if person_id not in set(combo_list):
                combo_list.append(person_id)
            for t in combinations(combo_list, 2):
                if t[0] != t[1] and (t[0], t[1]) not in set(graph.edges):
                    graph.add_edge(source = t[0], target = t[1])

In [654]:
for (person_id, name) in graph.nodes[1:]:
    person_credits = tmdb_api_utils.get_movie_credits_for_person(person_id, vote_avg_threshold = 8.0)
    movie_cast = {}
    for d in person_credits:
        movie_cast[d['id']] = tmdb_api_utils.get_movie_cast(d['id'], limit = 3, exclude_ids = None)
    for k, v in movie_cast.items():
        for d1 in v:
            person_id1 = str(d1['id'])
            name1 = d1['name']
            if (person_id1, name1) not in set(graph.nodes):
                graph.add_node(id = person_id1, name = name1)
            combo_list = [str(d2['id']) for d2 in v]
            if person_id not in set(combo_list):
                combo_list.append(person_id)
            for t in combinations(combo_list, 2):
                if t[0] != t[1] and (t[0], t[1]) not in set(graph.edges):
                    graph.add_edge(source = t[0], target = t[1])

In [574]:
for (person_id, name) in graph.nodes[1:]:
    person_credits = tmdb_api_utils.get_movie_credits_for_person(person_id, vote_avg_threshold = 8.0)
    movie_cast = {}
    for d in person_credits:
        movie_cast[d['id']] = tmdb_api_utils.get_movie_cast(d['id'], limit = 3, exclude_ids = None)
    for k, v in movie_cast.items():
        for d1 in v:
            person_id1 = str(d1['id'])
            name1 = d1['name']
            if (person_id1, name1) not in set(graph.nodes):
                graph.add_node(id = person_id1, name = name1)
            combo_list = [str(d2['id']) for d2 in v]
            if person_id not in set(combo_list):
                combo_list.append(person_id)
            for t in combinations(combo_list, 2):
                if t[0] != t[1] and (t[0], t[1]) not in set(graph.edges):
                    graph.add_edge(source = t[0], target = t[1])

In [575]:
graph.write_edges_file()
graph.write_nodes_file()

finished writing edges to csv
finished writing nodes to csv

In [107]:
tst = None

In [108]:
if not tst:
    print(1)

1

In [116]:
movie_id = 455
api_key = 'e6c6d80656546a1dd359ab0b71ca6432'

In [117]:
import http.client
import json
connection = http.client.HTTPSConnection("api.themoviedb.org")
connection.request("GET", "/3/movie/{}/credits?api_key={}".format(movie_id, api_key))
response = connection.getresponse()

In [118]:
headers = response.getheaders()
body = response.read().decode()

In [151]:
exclude_ids = [62230, 231610]
limit = 5
movie_cast = json.loads(body)

In [149]:
movie_cast = None

In [152]:
if movie_cast is not None:
    output = [d for d in movie_cast['cast']]
    if exclude_ids is not None:
        output = [d for d in output if d['id'] not in exclude_ids]
    if limit is not None:
        output = [d for d in output if d['order'] < limit]
    #output = output[0:limit]
else:
    output = []
output

#else:
#    print([d for d in cast['cast']])
#print(type(cast))
#print(read)
#print(type(read))
#msg = response.msg
#print(msg)
#pp = pprint.PrettyPrinter(indent=4)
#pp.pprint("Headers: {}".format(headers))
#print("Status: {} and reason: {}".format(response.status, response.reason))

[{'cast_id': 2,
  'character': "Juliette 'Jules' Paxton",
  'credit_id': '52fe4245c3a36847f80115ad',
  'gender': 1,
  'id': 116,
  'name': 'Keira Knightley',
  'order': 1,
  'profile_path': '/bRC1B2VwV0wK3ElciFAK6QZf2wD.jpg'},
 {'cast_id': 3,
  'character': 'Joe',
  'credit_id': '52fe4245c3a36847f80115b1',
  'gender': 2,
  'id': 1244,
  'name': 'Jonathan Rhys Meyers',
  'order': 2,
  'profile_path': '/iqt4t52DEmjBMpdhfmZqcRbHiCl.jpg'},
 {'cast_id': 4,
  'character': 'Mr. Bhamra',
  'credit_id': '52fe4245c3a36847f80115b5',
  'gender': 2,
  'id': 6217,
  'name': 'Anupam Kher',
  'order': 3,
  'profile_path': '/62IEjVcbXTzgM29lP2vDSPfeHae.jpg'},
 {'cast_id': 5,
  'character': 'Mrs. Bhamra',
  'credit_id': '52fe4245c3a36847f80115b9',
  'gender': 1,
  'id': 6218,
  'name': 'Shaheen Khan',
  'order': 4,
  'profile_path': None}]

In [147]:
output = [d for d in movie_cast['cast']]
if exclude_ids is not None:
    output = [d for d in output if d['id'] not in exclude_ids]
if limit is not None:
    output = [d for d in output if d['order'] < limit]
output

TypeError: 'NoneType' object is not subscriptable

In [178]:
person_id = 455
api_key = 'e6c6d80656546a1dd359ab0b71ca6432'

In [179]:
connection = http.client.HTTPSConnection("api.themoviedb.org")
connection.request("GET", "/3/person/{}/movie_credits?api_key={}&language=en-US".format(person_id, api_key))
response = connection.getresponse()

In [180]:
body = response.read().decode()
person_credits = json.loads(body)

In [183]:
vote_avg_threshold = 7.7

In [162]:
person_credits = None
person_credits

In [175]:
person_credits

{'cast': [{'character': 'Himself - Interviewee',
   'credit_id': '55146e9492514103e90032dc',
   'release_date': '2015-01-25',
   'vote_count': 576,
   'video': False,
   'adult': False,
   'vote_average': 7.7,
   'title': 'Going Clear: Scientology and the Prison of Belief',
   'genre_ids': [99],
   'original_language': 'en',
   'original_title': 'Going Clear: Scientology and the Prison of Belief',
   'popularity': 8.839,
   'id': 318224,
   'backdrop_path': '/29VoISagzOfJcuuhFzKQg9ZmEUU.jpg',
   'overview': 'GOING CLEAR intimately profiles eight former members of the Church of Scientology, shining a light on how they attract true believers and the things they do in the name of religion.',
   'poster_path': '/p0En1qZ9K87swEzFMfI3ckPLunP.jpg'},
  {'character': 'Himself',
   'credit_id': '52fe497cc3a368484e12de65',
   'release_date': '2011-01-20',
   'vote_count': 61,
   'video': False,
   'adult': False,
   'vote_average': 7.5,
   'title': 'Miss Representation',
   'genre_ids': [99],
   'original_language': 'en',
   'original_title': 'Miss Representation',
   'popularity': 3.915,
   'id': 77801,
   'backdrop_path': '/1u4VTwPzi8XAwdqZdv2QmUj1Rou.jpg',
   'overview': "The film MISS REPRESENTATION exposes how American youth are being sold the concept that women and girls’ value lies in their youth, beauty and sexuality. Explores the under-representation of women in positions of power and influence in America, and challenges the media's limited portrayal of what it means to be a powerful woman. It’s time to break that cycle of mistruths.",
   'poster_path': '/98owJxMsoARozljBXpQXH93v2fF.jpg'},
  {'character': 'Himself',
   'credit_id': '5e4327a20c271000158265a3',
   'poster_path': '/rvKENwIW7Q3ADOyxSqPjwZyKb6P.jpg',
   'id': 671991,
   'video': False,
   'vote_count': 0,
   'adult': False,
   'backdrop_path': None,
   'genre_ids': [99],
   'original_language': 'en',
   'original_title': 'The Evolution of Clint Eastwood',
   'popularity': 0.905,
   'title': 'The Evolution of Clint Eastwood',
   'vote_average': 0,
   'overview': "Follow Eastwood's career from television star to matinee idol to Oscar-winning director in this wide-ranging documentary.",
   'release_date': '2008-06-03'},
  {'character': 'Director',
   'credit_id': '5eb8feb67d2bc1001efdb043',
   'poster_path': '/8a2xzFSBrU9RLICUGCJXRr2ovq7.jpg',
   'id': 402977,
   'video': False,
   'vote_count': 0,
   'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'original_language': 'en',
   'original_title': 'MLE',
   'popularity': 0.6,
   'title': 'MLE',
   'vote_average': 0,
   'overview': "MLE ('My Little Eye') is based on a true story - Julie Robert, (nope, not Julia Roberts, as she corrects on a daily basis) is a broke actor who just lost her only gig. Stranded in a new country with her trouble-making friend Camila, and struggling to find a sane new agent, Julie finds herself taking on spy work from a strange family. What seems fun at first turns life belly-up for Julie (spy name, Emily) - the awkward, amateur spy.",
   'release_date': ''},
  {'character': 'Himself',
   'credit_id': '5e41d2149603310013f012e1',
   'poster_path': '/xtCcvzEbQV8ItTf73jr2jl7EsxU.jpg',
   'id': 671667,
   'video': False,
   'vote_count': 1,
   'adult': False,
   'backdrop_path': '/rxqHjZ7Q3WgeNavVFTeJNUugKML.jpg',
   'genre_ids': [99],
   'original_language': 'en',
   'original_title': 'The Business End: Violence in Cinema',
   'popularity': 1.4,
   'title': 'The Business End: Violence in Cinema',
   'vote_average': 10,
   'overview': 'An unflinching look at the ongoing debate on violence in movies and its effect on the audience.',
   'release_date': '2008-06-03'}],
 'crew': [{'id': 28990,
   'department': 'Crew',
   'original_language': 'de',
   'original_title': 'Kopf oder Zahl',
   'job': 'Thanks',
   'overview': '',
   'vote_count': 2,
   'video': False,
   'poster_path': '/krAWmcQT0FhD7q5sYak8JLCXWH3.jpg',
   'backdrop_path': None,
   'title': 'Kopf oder Zahl',
   'popularity': 0.6,
   'genre_ids': [18],
   'vote_average': 2.5,
   'adult': False,
   'release_date': '2009-04-23',
   'credit_id': '5cd47d4dc3a36869d0fc44a7'},
  {'id': 1640,
   'department': 'Directing',
   'original_language': 'en',
   'original_title': 'Crash',
   'job': 'Director',
   'overview': 'In post-Sept. 11 Los Angeles, tensions erupt when the lives of a Brentwood housewife, her district attorney husband, a Persian shopkeeper, two cops, a pair of carjackers and a Korean couple converge during a 36-hour period.',
   'vote_count': 2338,
   'video': False,
   'poster_path': '/86BdPC6RDX88NC880pLidKn2LCj.jpg',
   'backdrop_path': '/pu5yRPsqVZcXbBGpQln2SVdtDWm.jpg',
   'title': 'Crash',
   'popularity': 14.337,
   'genre_ids': [18],
   'vote_average': 7.3,
   'adult': False,
   'release_date': '2005-05-06',
   'credit_id': '52fe4307c3a36847f8035033'},
  {'id': 6973,
   'department': 'Directing',
   'original_language': 'en',
   'original_title': 'In the Valley of Elah',
   'job': 'Director',
   'overview': "A career officer and his wife work with a police detective to uncover the truth behind their son's disappearance following his return from a tour of duty in Iraq.",
   'vote_count': 573,
   'video': False,
   'poster_path': '/aQx5vOURCo4SD71s7BBJIozGmt3.jpg',
   'backdrop_path': '/j7GF6oZGZq3pdZDE1x1QoSC7UWf.jpg',
   'title': 'In the Valley of Elah',
   'popularity': 11.906,
   'genre_ids': [80, 18, 36, 9648, 53],
   'vote_average': 6.7,
   'adult': False,
   'release_date': '2007-08-31',
   'credit_id': '52fe446dc3a36847f8095533'},
  {'id': 43539,
   'department': 'Directing',
   'original_language': 'en',
   'original_title': 'The Next Three Days',
   'job': 'Director',
   'overview': "A married couple's life is turned upside down when the wife is accused of a murder. Lara Brennan is arrested for murdering her boss with whom she had an argument. It seems she was seen leaving the scene of the crime and her fingerprints were on the murder weapon. Her husband, John would spend the next few years trying to get her released, but there's no evidence that negates the evidence against her. And when the strain of being separated from her family, especially her son, gets to her, John decides to break her out. So he does a lot of research to find a way.",
   'vote_count': 1898,
   'video': False,
   'poster_path': '/wBaRZ3aHa7qoYTSY0ONbXrXYk4B.jpg',
   'backdrop_path': '/m3lJ0cuR0EXHSYUqiQsnc6G1pu4.jpg',
   'title': 'The Next Three Days',
   'popularity': 11.543,
   'genre_ids': [80, 18, 53, 10749],
   'vote_average': 7,
   'adult': False,
   'release_date': '2010-11-18',
   'credit_id': '52fe464fc3a36847f80f8165'},
  {'id': 192145,
   'department': 'Directing',
   'original_language': 'en',
   'original_title': 'Third Person',
   'job': 'Director',
   'overview': 'An acclaimed novelist struggles to write an analysis of love in one of three stories, each set in a different city, that detail the beginning, middle and end of a relationship.',
   'vote_count': 428,
   'video': False,
   'release_date': '2013-09-09',
   'vote_average': 5.9,
   'title': 'Third Person',
   'popularity': 12.123,
   'genre_ids': [18, 10749],
   'backdrop_path': '/sKnbKlgMDCTDTtKm91wJ4vSbyIH.jpg',
   'adult': False,
   'poster_path': '/zklkZ84hzaZmnJevkAH70teEEc9.jpg',
   'credit_id': '52fe4c9d9251416c910fa895'},
  {'id': 46742,
   'department': 'Directing',
   'original_language': 'en',
   'original_title': 'Red Hot',
   'job': 'Director',
   'overview': '',
   'vote_count': 0,
   'video': False,
   'poster_path': '/d3J5gS7PGKP56Tm71Ujkz4IrujM.jpg',
   'backdrop_path': None,
   'title': 'Red Hot',
   'popularity': 1.222,
   'genre_ids': [],
   'vote_average': 0,
   'adult': False,
   'release_date': '1993-06-01',
   'credit_id': '54f3ba3d925141799d000959'},
  {'id': 559323,
   'department': 'Directing',
   'original_language': 'en',
   'original_title': '5B',
   'job': 'Director',
   'overview': "At the heart of the HIV/AIDs crisis and widespread hysteria, a single number and letter designated a ward on the fifth floor of San Francisco General Hospital, the first in the country designed specifically to deal with AIDS patients. The unit's nurses' emphasis on humanity and consideration of holistic well-being was a small miracle amidst a devastating crisis and the ensuing panic about risk and infection.",
   'vote_count': 5,
   'video': False,
   'release_date': '2018-11-04',
   'vote_average': 6.8,
   'title': '5B',
   'popularity': 0.775,
   'genre_ids': [99],
   'backdrop_path': None,
   'adult': False,
   'poster_path': '/jKZv5udqX1tI9PJaBohJOtspIfH.jpg',
   'credit_id': '5d2a9a47be4b36756aa425ae'},
  {'id': 431170,
   'department': 'Directing',
   'original_language': 'es',
   'original_title': 'Michael Jackson: VIDEOGRAPHY',
   'job': 'Director',
   'overview': '',
   'vote_count': 2,
   'video': True,
   'poster_path': None,
   'backdrop_path': None,
   'title': 'Michael Jackson: VIDEOGRAPHY',
   'popularity': 0.713,
   'genre_ids': [10402],
   'vote_average': 7,
   'adult': False,
   'release_date': '2010-08-28',
   'credit_id': '5eb5d0870cb3350021ca64cb'},
  {'id': 70,
   'department': 'Production',
   'original_language': 'en',
   'original_title': 'Million Dollar Baby',
   'job': 'Producer',
   'overview': "Despondent over a painful estrangement from his daughter, trainer Frankie Dunn isn't prepared for boxer Maggie Fitzgerald to enter his life. But Maggie's determined to go pro and to convince Dunn and his cohort to help her.",
   'vote_count': 6278,
   'video': False,
   'release_date': '2004-12-15',
   'vote_average': 7.9,
   'title': 'Million Dollar Baby',
   'popularity': 19.221,
   'genre_ids': [18],
   'backdrop_path': '/jruBJZOJCQAWWhJ20UbxPUpbXXT.jpg',
   'adult': False,
   'poster_path': '/jcfEqKdWF1zeyvECPqp3mkWLct2.jpg',
   'credit_id': '52fe4213c3a36847f8002033'},
  {'id': 1251,
   'department': 'Production',
   'original_language': 'en',
   'original_title': 'Letters from Iwo Jima',
   'job': 'Producer',
   'overview': 'The story of the battle of Iwo Jima between the United States and Imperial Japan during World War II, as told from the perspective of the Japanese who fought it.',
   'vote_count': 1271,
   'video': False,
   'poster_path': '/kZokxQtzMPURvijWYFuvh1fAvnv.jpg',
   'backdrop_path': '/69Mdg9vH6yQx08DwK02RlqO9CPp.jpg',
   'title': 'Letters from Iwo Jima',
   'popularity': 11.436,
   'genre_ids': [28, 18, 10752],
   'vote_average': 7.5,
   'adult': False,
   'release_date': '2006-12-19',
   'credit_id': '52fe42eac3a36847f802c877'},
  {'id': 6973,
   'department': 'Production',
   'original_language': 'en',
   'original_title': 'In the Valley of Elah',
   'job': 'Producer',
   'overview': "A career officer and his wife work with a police detective to uncover the truth behind their son's disappearance following his return from a tour of duty in Iraq.",
   'vote_count': 573,
   'video': False,
   'poster_path': '/aQx5vOURCo4SD71s7BBJIozGmt3.jpg',
   'backdrop_path': '/j7GF6oZGZq3pdZDE1x1QoSC7UWf.jpg',
   'title': 'In the Valley of Elah',
   'popularity': 11.906,
   'genre_ids': [80, 18, 36, 9648, 53],
   'vote_average': 6.7,
   'adult': False,
   'release_date': '2007-08-31',
   'credit_id': '52fe446dc3a36847f809553f'},
  {'id': 43539,
   'department': 'Production',
   'original_language': 'en',
   'original_title': 'The Next Three Days',
   'job': 'Producer',
   'overview': "A married couple's life is turned upside down when the wife is accused of a murder. Lara Brennan is arrested for murdering her boss with whom she had an argument. It seems she was seen leaving the scene of the crime and her fingerprints were on the murder weapon. Her husband, John would spend the next few years trying to get her released, but there's no evidence that negates the evidence against her. And when the strain of being separated from her family, especially her son, gets to her, John decides to break her out. So he does a lot of research to find a way.",
   'vote_count': 1898,
   'video': False,
   'poster_path': '/wBaRZ3aHa7qoYTSY0ONbXrXYk4B.jpg',
   'backdrop_path': '/m3lJ0cuR0EXHSYUqiQsnc6G1pu4.jpg',
   'title': 'The Next Three Days',
   'popularity': 11.543,
   'genre_ids': [80, 18, 53, 10749],
   'vote_average': 7,
   'adult': False,
   'release_date': '2010-11-18',
   'credit_id': '52fe4650c3a36847f80f81cf'},
  {'id': 192145,
   'department': 'Production',
   'original_language': 'en',
   'original_title': 'Third Person',
   'job': 'Producer',
   'overview': 'An acclaimed novelist struggles to write an analysis of love in one of three stories, each set in a different city, that detail the beginning, middle and end of a relationship.',
   'vote_count': 428,
   'video': False,
   'release_date': '2013-09-09',
   'vote_average': 5.9,
   'title': 'Third Person',
   'popularity': 12.123,
   'genre_ids': [18, 10749],
   'backdrop_path': '/sKnbKlgMDCTDTtKm91wJ4vSbyIH.jpg',
   'adult': False,
   'poster_path': '/zklkZ84hzaZmnJevkAH70teEEc9.jpg',
   'credit_id': '55116da79251415caa0016d6'},
  {'id': 1640,
   'department': 'Production',
   'original_language': 'en',
   'original_title': 'Crash',
   'job': 'Producer',
   'overview': 'In post-Sept. 11 Los Angeles, tensions erupt when the lives of a Brentwood housewife, her district attorney husband, a Persian shopkeeper, two cops, a pair of carjackers and a Korean couple converge during a 36-hour period.',
   'vote_count': 2338,
   'video': False,
   'poster_path': '/86BdPC6RDX88NC880pLidKn2LCj.jpg',
   'backdrop_path': '/pu5yRPsqVZcXbBGpQln2SVdtDWm.jpg',
   'title': 'Crash',
   'popularity': 14.337,
   'genre_ids': [18],
   'vote_average': 7.3,
   'adult': False,
   'release_date': '2005-05-06',
   'credit_id': '5675cbbcc3a3681689003579'},
  {'id': 70,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'Million Dollar Baby',
   'job': 'Screenplay',
   'overview': "Despondent over a painful estrangement from his daughter, trainer Frankie Dunn isn't prepared for boxer Maggie Fitzgerald to enter his life. But Maggie's determined to go pro and to convince Dunn and his cohort to help her.",
   'vote_count': 6278,
   'video': False,
   'release_date': '2004-12-15',
   'vote_average': 7.9,
   'title': 'Million Dollar Baby',
   'popularity': 19.221,
   'genre_ids': [18],
   'backdrop_path': '/jruBJZOJCQAWWhJ20UbxPUpbXXT.jpg',
   'adult': False,
   'poster_path': '/jcfEqKdWF1zeyvECPqp3mkWLct2.jpg',
   'credit_id': '52fe4213c3a36847f800208d'},
  {'id': 1251,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'Letters from Iwo Jima',
   'job': 'Screenplay',
   'overview': 'The story of the battle of Iwo Jima between the United States and Imperial Japan during World War II, as told from the perspective of the Japanese who fought it.',
   'vote_count': 1271,
   'video': False,
   'poster_path': '/kZokxQtzMPURvijWYFuvh1fAvnv.jpg',
   'backdrop_path': '/69Mdg9vH6yQx08DwK02RlqO9CPp.jpg',
   'title': 'Letters from Iwo Jima',
   'popularity': 11.436,
   'genre_ids': [28, 18, 10752],
   'vote_average': 7.5,
   'adult': False,
   'release_date': '2006-12-19',
   'credit_id': '52fe42eac3a36847f802c87d'},
  {'id': 1640,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'Crash',
   'job': 'Screenplay',
   'overview': 'In post-Sept. 11 Los Angeles, tensions erupt when the lives of a Brentwood housewife, her district attorney husband, a Persian shopkeeper, two cops, a pair of carjackers and a Korean couple converge during a 36-hour period.',
   'vote_count': 2338,
   'video': False,
   'poster_path': '/86BdPC6RDX88NC880pLidKn2LCj.jpg',
   'backdrop_path': '/pu5yRPsqVZcXbBGpQln2SVdtDWm.jpg',
   'title': 'Crash',
   'popularity': 14.337,
   'genre_ids': [18],
   'vote_average': 7.3,
   'adult': False,
   'release_date': '2005-05-06',
   'credit_id': '52fe4307c3a36847f8035039'},
  {'id': 3683,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'Flags of Our Fathers',
   'job': 'Screenplay',
   'overview': "There were five Marines and one Navy Corpsman photographed raising the U.S. flag on Mt. Suribachi by Joe Rosenthal on February 23, 1945. This is the story of three of the six surviving servicemen - John 'Doc' Bradley, Pvt. Rene Gagnon and Pvt. Ira Hayes - who fought in the battle to take Iwo Jima from the Japanese.",
   'vote_count': 1164,
   'video': False,
   'release_date': '2006-10-18',
   'vote_average': 6.8,
   'title': 'Flags of Our Fathers',
   'popularity': 14.581,
   'genre_ids': [10752, 18, 36],
   'backdrop_path': '/vscsDExaKK0oKqrYBze9Tm2oitf.jpg',
   'adult': False,
   'poster_path': '/Rzaz2GSBJMnT9aYqzs715XoC4N.jpg',
   'credit_id': '52fe43a2c3a36847f80637a3'},
  {'id': 10764,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'Quantum of Solace',
   'job': 'Screenplay',
   'overview': 'Quantum of Solace continues the adventures of James Bond after Casino Royale. Betrayed by Vesper, the woman he loved, 007 fights the urge to make his latest mission personal. Pursuing his determination to uncover the truth, Bond and M interrogate Mr. White, who reveals that the organization that blackmailed Vesper is far more complex and dangerous than anyone had imagined.',
   'vote_count': 5442,
   'video': False,
   'poster_path': '/5BzOOL7zknsZSUeJwSa9kGuzHCR.jpg',
   'backdrop_path': '/rtpwL5lFYg1SF0glIrlf8oZDzpb.jpg',
   'title': 'Quantum of Solace',
   'popularity': 26.486,
   'genre_ids': [28, 12, 80, 53],
   'vote_average': 6.3,
   'adult': False,
   'release_date': '2008-10-30',
   'credit_id': '52fe43b29251416c7501aa63'},
  {'id': 6958,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'Walker, Texas Ranger: Trial by Fire',
   'job': 'Screenplay',
   'overview': 'Walker investigates a murder connected with a missing government weapon. In addition, he tries to track down a teen on the run from a crime syndicate.',
   'vote_count': 18,
   'video': False,
   'poster_path': '/ebaCtQ4Bz7FYazWYjBb9k1BEOxJ.jpg',
   'backdrop_path': '/Abpe9oByksEKjP0WO8Ine6n0zAt.jpg',
   'title': 'Walker, Texas Ranger: Trial by Fire',
   'popularity': 3.544,
   'genre_ids': [28, 53, 10770],
   'vote_average': 6.5,
   'adult': False,
   'release_date': '2005-10-16',
   'credit_id': '52fe446ac3a36847f8094ccd'},
  {'id': 6973,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'In the Valley of Elah',
   'job': 'Screenplay',
   'overview': "A career officer and his wife work with a police detective to uncover the truth behind their son's disappearance following his return from a tour of duty in Iraq.",
   'vote_count': 573,
   'video': False,
   'poster_path': '/aQx5vOURCo4SD71s7BBJIozGmt3.jpg',
   'backdrop_path': '/j7GF6oZGZq3pdZDE1x1QoSC7UWf.jpg',
   'title': 'In the Valley of Elah',
   'popularity': 11.906,
   'genre_ids': [80, 18, 36, 9648, 53],
   'vote_average': 6.7,
   'adult': False,
   'release_date': '2007-08-31',
   'credit_id': '52fe446dc3a36847f8095539'},
  {'id': 7511,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'The Last Kiss',
   'job': 'Screenplay',
   'overview': "Michael has a great job, has his 4 best friends, and is in love with a beautiful girl at 30. He loves Jenna but his life seems predictable until someone else enters his life. It seems that everybody's having relationship problems.",
   'vote_count': 246,
   'video': False,
   'poster_path': '/9NVvNUQ0OkaRmvTss0IxbhdErIe.jpg',
   'backdrop_path': '/wjCMOsolPXgSZr8NzPnAuzxvAF9.jpg',
   'title': 'The Last Kiss',
   'popularity': 5.072,
   'genre_ids': [35, 18, 10749],
   'vote_average': 5.9,
   'adult': False,
   'release_date': '2006-09-10',
   'credit_id': '52fe4481c3a36847f809a109'},
  {'id': 36557,
   'department': 'Writing',
   'original_language': 'en',
   'original_title': 'Casino Royale',
   'job': 'Screenplay',

In [176]:
person_credits['cast']

[{'character': 'Himself - Interviewee',
  'credit_id': '55146e9492514103e90032dc',
  'release_date': '2015-01-25',
  'vote_count': 576,
  'video': False,
  'adult': False,
  'vote_average': 7.7,
  'title': 'Going Clear: Scientology and the Prison of Belief',
  'genre_ids': [99],
  'original_language': 'en',
  'original_title': 'Going Clear: Scientology and the Prison of Belief',
  'popularity': 8.839,
  'id': 318224,
  'backdrop_path': '/29VoISagzOfJcuuhFzKQg9ZmEUU.jpg',
  'overview': 'GOING CLEAR intimately profiles eight former members of the Church of Scientology, shining a light on how they attract true believers and the things they do in the name of religion.',
  'poster_path': '/p0En1qZ9K87swEzFMfI3ckPLunP.jpg'},
 {'character': 'Himself',
  'credit_id': '52fe497cc3a368484e12de65',
  'release_date': '2011-01-20',
  'vote_count': 61,
  'video': False,
  'adult': False,
  'vote_average': 7.5,
  'title': 'Miss Representation',
  'genre_ids': [99],
  'original_language': 'en',
  'original_title': 'Miss Representation',
  'popularity': 3.915,
  'id': 77801,
  'backdrop_path': '/1u4VTwPzi8XAwdqZdv2QmUj1Rou.jpg',
  'overview': "The film MISS REPRESENTATION exposes how American youth are being sold the concept that women and girls’ value lies in their youth, beauty and sexuality. Explores the under-representation of women in positions of power and influence in America, and challenges the media's limited portrayal of what it means to be a powerful woman. It’s time to break that cycle of mistruths.",
  'poster_path': '/98owJxMsoARozljBXpQXH93v2fF.jpg'},
 {'character': 'Himself',
  'credit_id': '5e4327a20c271000158265a3',
  'poster_path': '/rvKENwIW7Q3ADOyxSqPjwZyKb6P.jpg',
  'id': 671991,
  'video': False,
  'vote_count': 0,
  'adult': False,
  'backdrop_path': None,
  'genre_ids': [99],
  'original_language': 'en',
  'original_title': 'The Evolution of Clint Eastwood',
  'popularity': 0.905,
  'title': 'The Evolution of Clint Eastwood',
  'vote_average': 0,
  'overview': "Follow Eastwood's career from television star to matinee idol to Oscar-winning director in this wide-ranging documentary.",
  'release_date': '2008-06-03'},
 {'character': 'Director',
  'credit_id': '5eb8feb67d2bc1001efdb043',
  'poster_path': '/8a2xzFSBrU9RLICUGCJXRr2ovq7.jpg',
  'id': 402977,
  'video': False,
  'vote_count': 0,
  'adult': False,
  'backdrop_path': None,
  'genre_ids': [],
  'original_language': 'en',
  'original_title': 'MLE',
  'popularity': 0.6,
  'title': 'MLE',
  'vote_average': 0,
  'overview': "MLE ('My Little Eye') is based on a true story - Julie Robert, (nope, not Julia Roberts, as she corrects on a daily basis) is a broke actor who just lost her only gig. Stranded in a new country with her trouble-making friend Camila, and struggling to find a sane new agent, Julie finds herself taking on spy work from a strange family. What seems fun at first turns life belly-up for Julie (spy name, Emily) - the awkward, amateur spy.",
  'release_date': ''},
 {'character': 'Himself',
  'credit_id': '5e41d2149603310013f012e1',
  'poster_path': '/xtCcvzEbQV8ItTf73jr2jl7EsxU.jpg',
  'id': 671667,
  'video': False,
  'vote_count': 1,
  'adult': False,
  'backdrop_path': '/rxqHjZ7Q3WgeNavVFTeJNUugKML.jpg',
  'genre_ids': [99],
  'original_language': 'en',
  'original_title': 'The Business End: Violence in Cinema',
  'popularity': 1.4,
  'title': 'The Business End: Violence in Cinema',
  'vote_average': 10,
  'overview': 'An unflinching look at the ongoing debate on violence in movies and its effect on the audience.',
  'release_date': '2008-06-03'}]

In [187]:
if person_credits is not None:
    output = [{k : v for k, v in d.items() if k in {'credit_id', 'title', 'vote_average', 'id'}} for d in person_credits['cast']]
    if vote_avg_threshold is not None:
        output = [d for d in output if d['vote_average'] >= vote_avg_threshold]
else:
    output = []
output

[{'credit_id': '55146e9492514103e90032dc',
  'vote_average': 7.7,
  'title': 'Going Clear: Scientology and the Prison of Belief'},
 {'credit_id': '5e41d2149603310013f012e1',
  'title': 'The Business End: Violence in Cinema',
  'vote_average': 10}]

In [ ]:
connection.close()

In [54]:
E = [('e1', 'e2'), ('e2', 'e3'), ('e1', 'e3'), ('e3', 'e4'), ('e2', 'e5')]
print(E)

[('e1', 'e2'), ('e2', 'e3'), ('e1', 'e3'), ('e3', 'e4'), ('e2', 'e5')]

In [55]:
d = {}

for (e0, e1) in E:
    if e0 not in d.keys():
        d[e0] = 1
    else:
        d[e0] += 1
    if e1 not in d.keys():
        d[e1] = 1
    else:
        d[e1] += 1

        
print(d)
print(max(d.values()))

{k : v for k, v in d.items() if v == max(d.values())}

{'e1': 2, 'e2': 3, 'e3': 3, 'e4': 1, 'e5': 1}
3

{'e2': 3, 'e3': 3}

In [32]:
t = ('3', 'Marina')
A = [('1', 'Ramin'), ('2', 'Ramina')]
print(A)
print(tuple(reversed(t)))
print(set(A))

[('1', 'Ramin'), ('2', 'Ramina')]
('Marina', '3')
{('1', 'Ramin'), ('2', 'Ramina')}

In [29]:
A.append(t)
A

[('1', 'Ramin'), ('2', 'Ramina'), ('3', 'Marina')]

In [22]:
if t not in set(A):
    A.extend(t)
A

[('1', 'Ramin'), ('2', 'Ramina'), '3', 'Marina']

In [16]:
t = ('4', 'Michelle')
if t not in set(A):
    A.append(t)
A

[('1', 'Ramin'), ('2', 'Ramina'), ('3', 'Marina'), ('4', 'Michelle')]

Let $
X_{i \in I}^{j \in J} = \left[
    \begin{array}{ccc}
    x_1^1&\cdots&x_1^d\\
    \vdots&x_i^j&\vdots\\
    x_n^1&\cdots&x_n^d
    \end{array}
\right] , \left[\begin{array}{c}I = {1,..., n}\\J = {1,..., d}\end{array} \right].
$

Then, $E[X_{i \in I}^{j \in J}] = \left[\begin{array}{c}E[X^1]\\\vdots\\E[X^d]\end{array} \right].$

In [ ]:
import sys

if not 'numpy' in sys.modules:
    !pip install numpy

import numpy as np

In [99]:
a = np.array(
      [
            [
                  [10, 15, 1]
                , [ 5, 10, 3]
                , [10,  5, 3]
            ]
          , [
                  [ 5, 25, 2]
                , [20, 20, 3]
                , [ 5, 15, 1]
            ]
      ]
)
np.array(sorted(a.reshape(-1, 3), key = lambda v: [v[0], v[1]])).reshape(a.shape)

array([[[ 5, 10,  3],
        [ 5, 15,  1],
        [ 5, 25,  2]],

       [[10,  5,  3],
        [10, 15,  1],
        [20, 20,  3]]])

In [65]:
np.rec.array(a)

rec.array([[[10, 15,  1],
            [ 5, 10,  3],
            [10,  5,  3]],

           [[ 5, 25,  2],
            [20, 20,  3],
            [ 5, 15,  1]]],
          dtype=int32)

In [11]:
field_names = ['y', 'x', 'classifier']

In [14]:
b = np.array([[[10, 15,  1],
        [ 5, 10,  3],
        [10,  5,  3]],

       [[ 5, 25,  2],
        [20, 20,  3],
        [ 5, 15,  1]]])

b

array([[[10, 15,  1],
        [ 5, 10,  3],
        [10,  5,  3]],

       [[ 5, 25,  2],
        [20, 20,  3],
        [ 5, 15,  1]]])

In [31]:
array_with_labels = np.array([[[(label, num) for i, num in enumerate(l2) for j, label in enumerate(field_names) if i == j] for l2 in l1] for l1 in b], dtype = [('yax'), (), ()]
array_with_labels

[[[('y', 10), ('x', 15), ('classifier', 1)],
  [('y', 5), ('x', 10), ('classifier', 3)],
  [('y', 10), ('x', 5), ('classifier', 3)]],
 [[('y', 5), ('x', 25), ('classifier', 2)],
  [('y', 20), ('x', 20), ('classifier', 3)],
  [('y', 5), ('x', 15), ('classifier', 1)]]]

In [ ]:
np.sort(array_with_labels, order = ['y', 'x'])

In [ ]:
[l2[0], l2[1], l2[2]]

In [9]:
np.sort(a, axis = 0)

array([[[ 5, 15,  1],
        [ 5, 10,  3],
        [ 5,  5,  1]],

       [[10, 25,  2],
        [20, 20,  3],
        [10, 15,  3]]])

In [4]:
import numpy as np
X = np.array([
    [5, 5, 4],
    [8, 1, 8],
    [0, 1, 5],
    [0, 3, 1],
    [6, 2, 5]
])

In [7]:
np.linalg.inv(np.matmul(X, X.T))

LinAlgError: Singular matrix

In [ ]:
def find_max_common_label_in_cluster(clustering, y, k):
    import numpy as np
    z = np.array([-1] * k)
    for i in set(clustering):
        y_indices = np.where(clustering == i)[0]
        y_take = np.take(y, y_indices)
        y_filtered = np.extract(y_take != -1, y_take)
        if y_filtered.size:
            counts = np.bincount(y_filtered)
            z[i] = np.argmax(counts)            
    return z

In [65]:
y = np.array([0,  0,  1,  0,  1,  0,  1,  0,  0,  0,  1,  0,  0,  1,  0,  0])

In [74]:
counts = np.bincount(y)
counts

array([11,  5], dtype=int64)

In [78]:
np.argmin(counts)

1

In [80]:
np.where(y == 1)[0]

array([ 2,  4,  6, 10, 13], dtype=int64)

In [58]:
from collections import Counter

In [59]:
ex2_demo_bags = [{'cat', 'dog', 'fish'},
                 {'red', 'blue'},
                 {'dog'},
                 {'one', 'two', 'dog', 'fish'}]

In [64]:

[Counter(list(st)) for st in ex2_demo_bags]

[Counter({'dog': 1, 'cat': 1, 'fish': 1}),
 Counter({'blue': 1, 'red': 1}),
 Counter({'dog': 1}),
 Counter({'dog': 1, 'two': 1, 'fish': 1, 'one': 1})]

In [55]:
ex1_demo_input = ["This is a phrase; this, too, is a phrase",
                  "But this is another sentence",
                  "Hark",
                  "Come what may    <-- save those spaces, but not these -->",
                  "What did you say",
                  "Split into 3 (even without a space)",
                  "Okie dokie"]

In [57]:
def clean(s):
    from re import finditer
    pattern = r"[a-z]+('[a-z])?[a-z]*"
    return [match.group(0) for match in finditer(pattern, s.lower())]

In [ ]:
def gen_bag_of_words(sents):
    assert isinstance(sents, list)
    for sentence in sents:
        for word in clean(sentence) if word not in STOPWORDS]
    
# Demo:
gen_bag_of_words(ex1_demo_input)

In [34]:
import re

In [33]:
ex0_demo_input = ["  This is a phrase; this, too, is a phrase. But this is another sentence.",
                  "Hark!",
                  "    ",
                  "Come what may    <-- save those spaces, but not these -->    ",
                  "What did you say?Split into 3 (even without a space)? Okie dokie."]

In [54]:
result = []
for element in ex0_demo_input:
    result.extend([s.strip() for s in re.split(r'\.|\?|\!', element)])
    result = [s for s in result if s]
result

['This is a phrase; this, too, is a phrase',
 'But this is another sentence',
 'Hark',
 'Come what may    <-- save those spaces, but not these -->',
 'What did you say',
 'Split into 3 (even without a space)',
 'Okie dokie']

In [29]:
clustering = np.array([ 8, 5, 5, 8, 6, 7,  4, 1, 8, 7, 5,  8, 8])
y = np.array([-1, 5, 6, 9, 6, 7, -1, 1, -1, 7, 6, -1, 3])
k = 10
z = np.array([-1] * k)

In [32]:
#from collections import Counter
for i in set(clustering):
    y_indices = np.where(clustering == i)[0]
    y_take = np.take(y, y_indices)
    y_filtered = np.extract(y_take != -1, y_take)
    if y_filtered.size:
        counts = np.bincount(y_filtered)
        z[i] = np.argmax(counts)
        #most_common = Counter(y_filtered).most_common()
        #if most_common[0][1] == most_common[-1][1]:
        #    z[i] = min(most_common)[0]
        #else:
        #    z[i] = most_common[0][0]
z

array([-1,  1, -1, -1, -1,  6,  6,  7,  3, -1])

In [21]:
Y = np.array([4, 2, 1, 1, 3, 2, 4, 2, 2, 2, 4])
y = np.array([2, 3, 5, 6])

In [23]:
p = Y[y]
p

array([1, 1, 2, 4])

In [25]:
counts = np.bincount(p)
counts

array([0, 2, 1, 0, 1], dtype=int64)

In [26]:
np.argmax(counts)

1

In [16]:
import numpy as np
X = np.array([
    [5, 5, 4],
    [8, 1, 8],
    [0, 1, 5],
    [0, 3, 1],
    [6, 2, 5]
])

w = np.array([
    [8, 5, 1],
    [7, 8, 6]
])

x = np.array(
    [8, 5, 1]
)

In [8]:
X - w[:,np.newaxis]

array([[[-3,  0,  3],
        [ 0, -4,  7],
        [-8, -4,  4],
        [-8, -2,  0],
        [-2, -3,  4]],

       [[-2, -3, -2],
        [ 1, -7,  2],
        [-7, -7, -1],
        [-7, -5, -5],
        [-1, -6, -1]]])

In [9]:
X[:,np.newaxis] - w

array([[[-3,  0,  3],
        [-2, -3, -2]],

       [[ 0, -4,  7],
        [ 1, -7,  2]],

       [[-8, -4,  4],
        [-7, -7, -1]],

       [[-8, -2,  0],
        [-7, -5, -5]],

       [[-2, -3,  4],
        [-1, -6, -1]]])

In [17]:
np.sum(X - x, axis = 1)

array([  0,   3,  -8, -10,  -1])

In [18]:
np.sqrt(np.sum((X - x)**2, axis=1))

array([4.24264069, 8.06225775, 9.79795897, 8.24621125, 5.38516481])

In [20]:
np.linalg.norm(X - x, axis = 1)

array([4.24264069, 8.06225775, 9.79795897, 8.24621125, 5.38516481])

In [19]:
np.argsort(np.sqrt(np.sum((X - x)**2, axis=1)))[0:2]

array([0, 4], dtype=int64)

In [14]:
l = [(1, 2), (4, 3), (7, 8), (10, 11)]

In [3]:
import operator

In [16]:
x = 0

In [20]:
[operator.iadd(x + a + b, x + a + b) for a, b in l]

[6, 14, 30, 42]

In [11]:
f = operator.itemgetter(1, 3)

In [12]:
f(l)

((4, 3), (10, 11))

In [ ]:
res = []
aux = set()
for x in nums:
  if x not in aux:
    res.append(x)
    aux.add(x)

In [47]:
import numpy as np
A = np.array([[0, 1, 0, 1, 0, 1],
              [1, 0, 0, 1, 0, 0],
              [0, 0, 0, 1, 0, 0],
              [1, 1, 1, 0, 1, 1],
              [0, 0, 0, 1, 0, 0],
              [1, 0, 0, 1, 0, 0]], dtype=int)

In [53]:
(np.multiply(A.dot(A), A).sum(axis = 1)/6).astype(int)

array([0, 0, 0, 0, 0, 0])

In [82]:
I = [0, 1, 2, 3, 2, 3]

In [83]:
J = [1, 0, 3, 2, 3, 2]

In [60]:
from scipy.sparse import coo_matrix

In [84]:
n = max(I) + 1

In [85]:
V = np.ones(len(I), dtype=int)
V

array([1, 1, 1, 1, 1, 1])

In [86]:
A = coo_matrix((V, (I, J)), shape=(n, n))
print(A)

  (0, 1)	1
  (1, 0)	1
  (2, 3)	1
  (3, 2)	1
  (2, 3)	1
  (3, 2)	1

In [87]:
A.sum_duplicates()
print(A)

  (1, 0)	1
  (0, 1)	1
  (3, 2)	2
  (2, 3)	2

In [88]:
A = (A > 0).astype(int).todense()
print(A)

[[0 1 0 0]
 [1 0 0 0]
 [0 0 0 1]
 [0 0 1 0]]

In [69]:
C = A.dot(A) * A
print(C.sum(axis = 1)/6)

[[0.16666667]
 [0.16666667]
 [0.16666667]
 [0.16666667]]

In [10]:
import numpy as np

In [13]:
A = np.zeros((2, 2))
A[1,1] = 1

In [14]:
A

array([[0., 0.],
       [0., 1.]])

In [7]:
from itertools import groupby

In [8]:
l = [[2,5], [2, 5], [3,4]]

In [9]:
[k for k, g in groupby(l)]

[[2, 5], [3, 4]]

In [56]:
s = [1, 2, 3, 4]
from itertools import permutations, combinations

In [55]:
{t : 1 for t in list(permutations(s, 2))}

{(1, 2): 1,
 (1, 3): 1,
 (1, 4): 1,
 (2, 1): 1,
 (2, 3): 1,
 (2, 4): 1,
 (3, 1): 1,
 (3, 2): 1,
 (3, 4): 1,
 (4, 1): 1,
 (4, 2): 1,
 (4, 3): 1}

In [57]:
{t : 1 for t in list(combinations(s, 2))}

{(1, 2): 1, (1, 3): 1, (1, 4): 1, (2, 3): 1, (2, 4): 1, (3, 4): 1}

In [156]:
inputData = ''

In [147]:
import math

In [157]:
'\n'.join(
    [
        str(int(math.log(int(line), 2).is_integer())) 
        for line in inputData.splitlines()[1:]
    ]
)

''

In [ ]:
def codeHere():
    lines = [int(line) for line in inputData.splitlines()]
    bool_vals = [(x != 0) and (x & (x - 1) == 0) for x in lines[1:]]
    output = list(map(int, bool_vals))
    output = [str(x) for x in output]
    return '\n'.join(output)

In [107]:
import numpy as np

In [133]:
v = np.asarray([True, False, True, False])

In [136]:
# if you don't specify the replacements
# then you get back the indices of `True` values
np.where(v)

(array([0, 2], dtype=int64),)

In [138]:
# `v` should be a `numpy` array
np.where(v, 4, 5)

array([4, 5, 4, 5])

In [106]:
[xv if c else yv
 for c, xv, yv in zip(condition, x, y)]

NameError: name 'condition' is not defined

In [102]:
s = 'We analyzed found the issue in Garbage Collection which crashed the JVM.\r\n\r\n\xa0\r\n\r\n\xa0\r\n\r\n_Stack: [0x00007f0b58ff1000,0x00007f0b590f1000],\xa0 sp=0x00007f0b590ef120,\xa0 free space=1016k_\r\n\r\n_Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)_\r\n\r\n_V\xa0 [libjvm.so+0x8b9e4f]\xa0 MethodData::clean_extra_data(BoolObjectClosure)+0x1cf_\r\n\r\n_V\xa0 [libjvm.so+0x63c582]\xa0 '

In [93]:
import re

In [105]:
re.sub(r'(\\r)|(\\n)|(\\xa0)', '', s)

'We analyzed found the issue in Garbage Collection which crashed the JVM._Stack: [0x00007f0b58ff1000,0x00007f0b590f1000], sp=0x00007f0b590ef120, free space=1016k__Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)__V [libjvm.so+0x8b9e4f] MethodData::clean_extra_data(BoolObjectClosure)+0x1cf__V [libjvm.so+0x63c582] '

In [74]:
dic = {
    'A' : ['b', 'a', 'a', 'd', 'd', 'c'],
    'B' : [3, 1, 1, 4, 1, 4],
    'C' : [3, 2, 2, 4, 2, 5],
    'D' : [4, 1, 1, 1, 1, 6]
}
df = pd.DataFrame(dic)
df

   A  B  C  D
0  b  3  3  4
1  a  1  2  1
2  a  1  2  1
3  d  4  4  1
4  d  1  2  1
5  c  4  5  6

In [91]:
df = (
    df
        .assign(A = lambda x: pd.Categorical(x['A'], categories = ['b', 'd', 'c', 'a'], ordered = True))
        .sort_values('A')
)

   A  B  C  D
0  b  3  3  4
3  d  4  4  1
4  d  1  2  1
5  c  4  5  6
1  a  1  2  1
2  a  1  2  1

In [56]:
dic = {
    'a': {
        'b': [1, 2], 
        'c': [3, 4]
    }, 
    'A': {
        'B': [10, 20], 
        'C': [30, 40]
    }
}
s = (
    pd.DataFrame(dic)
        .stack()
        .explode()
        .reset_index()
        .filter(['level_1', 'level_0', 0])
        .rename(columns = {'level_1' : 'col_1', 'level_0' : 'col_2', 0 : 'col_3'})
)
s

  col_1 col_2 col_3
0     a     b     1
1     a     b     2
2     a     c     3
3     a     c     4
4     A     B    10
5     A     B    20
6     A     C    30
7     A     C    40

In [32]:
import pandas as pd


def my_function(df):
    kwargs = {
        "quantity": df.apply(lambda x: -x["quantity"] if "SELL" in str(x["action"]) else x["quantity"], axis = 1),
        "price (usd)": df.apply(lambda x: 0 if "SELL" in str(x["action"]) else x["price (usd)"], axis = 1),
    }
    return df.assign(**kwargs)


input_df = pd.DataFrame({"product": ["APPLE", "APPLE", "BANANA"],
                         "action": ["  SELL  ", "  BUY  ", "  SELL  "],
                         "quantity": [1, 2, 3],
                         "price (usd)": [3, 5, 8],
                         })

result_df = my_function(input_df)
result_df

  product    action  quantity  price (usd)
0   APPLE    SELL          -1            0
1   APPLE     BUY           2            5
2  BANANA    SELL          -3            0

In [8]:
expected_df = pd.DataFrame({"product": ["APPLE", "APPLE", "BANANA"],
                            "action": ["  SELL  ", "  BUY  ", "  SELL  "],
                            "quantity": [-1, 2, -3],
                            "price (usd)": [0, 5, 0],
                            })
expected_df

  product    action  quantity  price (usd)
0   APPLE    SELL          -1            0
1   APPLE     BUY           2            5
2  BANANA    SELL          -3            0

In [5]:
    numbers = [25, 24, 26, 45, 25, 23, 50, 51]
    count = len(numbers)
    filtered = [num for num in numbers if 25 <= num <= 50]
    count = len(numbers) - len(filtered)
    filtered

[25, 26, 45, 25, 50]

If a polynomial function has integer coefficients, then every rational zero will have the form

$$
\frac{p}{q}
$$

where `p` is a factor of the constant and `q` is a factor of the leading coefficient.

In [139]:
import numpy as np
A = np.array ([[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]
              ], dtype=float)

print ("A[:, :] ==\n", A)
print ("\na0 := A[:, 0] ==\n", A[:, 0])
print ("\na1 := A[:, 2:3] == \n", A[:, 2])

print ("\nAdd columns 0 and 2?")
a0 = A[:, 0]
a1 = A[:, 2]
print (a0 + a1)

A[:, :] ==
 [[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]

a0 := A[:, 0] ==
 [1. 4. 7.]

a1 := A[:, 2:3] ==
 [3. 6. 9.]

Add columns 0 and 2?
[ 4. 10. 16.]

In [69]:
import numpy as np

In [74]:
np.convolve([2, 3, 5], [7, 6, 4])

array([14, 33, 61, 42, 20])

In [77]:
np.convolve([2, 3, 5], [7, 6, 4], 'same')

array([33, 61, 42])

In [126]:
X = np.array([[1,1,0], [1,0,0], [0,0,1]])

In [131]:
np.ones(X.shape) * -1

array([[-1., -1., -1.],
       [-1., -1., -1.],
       [-1., -1., -1.]])

In [133]:
X

array([[1, 1, 0],
       [1, 0, 0],
       [0, 0, 1]])

In [120]:
kernel = np.ones(X.shape) * -1

In [135]:
from scipy.signal import convolve2d
convolve2d(X, kernel, 'same')

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [19]:
class TreeNode:
    def __init__(self, x):
        self.val = x
        self.left = None
        self.right = None

In [30]:
def insertLevelOrder(arr, root, i, n): 
      
    # Base case for recursion  
    if i < n: 
        temp = TreeNode(arr[i])  
        root = temp  
  
        # insert left child  
        root.left = insertLevelOrder(arr, root.left, 
                                     2 * i + 1, n)  
  
        # insert right child  
        root.right = insertLevelOrder(arr, root.right, 
                                      2 * i + 2, n) 
    return root

In [39]:
def inOrder(root): 
    if root != None: 
        inOrder(root.left)  
        print(root.val,end=" ")  
        inOrder(root.right) 
        
if __name__ == '__main__': 
    arr = [1, 2, 3, 4, 5, 6, 6, 6, 6] 
    n = len(arr) 
    root = None
    root = insertLevelOrder(arr, root, 0, n)  
    inOrder(root)

6 4 6 2 5 1 6 3 6

In [63]:
stk = [root]

In [64]:
node = stk.pop()

In [68]:
inOrder(node)

6 4 6 2 5 1 6 3 6

In [56]:
node = stk.pop()

IndexError: pop from empty list

In [9]:
J, S = "aA", "aAAbbbb"

In [37]:
print(root.left)

<__main__.TreeNode object at 0x00000209A7A24E48>

In [ ]:
class Solution:
    def numJewelsInStones(self, J: str, S: str) -> int:
        count = 0
        for j in J:
            for s in S:
                if s == j:
                    count += 1
        return count

In [18]:
for c in S:
    print(c)

a
A
A
b
b
b
b

In [17]:
set(S)

{'A', 'a', 'b'}

In [16]:
set(J)

{'A', 'a'}

In [12]:
sum([1 for c in S if c in J])

3

In [14]:
Jli = list(set(list(J)))
count = 0
for j in Jli:
	count += S.count(j)
count

3

In [15]:
sum([S.count(i) for i in J])

3

In [1]:
num = 14

In [2]:
sum([int(d) + 1 for d in bin(num)[2:]]) - 1

6

In [4]:
bin(num)[2:]

'1110'

In [8]:
len(b := bin(num)[2:]) + b.count('1') - 1

SyntaxError: invalid syntax (<ipython-input-8-e57fad0e8c34>, line 1)

In [113]:
myList = [1, 1, 2, 2, 2, 3]
output = {}

for item in myList:
    if item not in output:
        output[item] = 0
    output[item] += 1

output

{1: 2, 2: 3, 3: 1}

In [19]:
from string import ascii_letters, digits
import timeit

In [20]:
words = list(ascii_letters+digits)*10**5
len(words)

6200000

In [16]:
start_time = timeit.default_timer()
from collections import defaultdict
d = defaultdict(int)
for w in words: d[w] += 1
elapsed = timeit.default_timer() - start_time
elapsed

0.6867543999999839

In [ ]:

%timeit words
d = {i:words.count(i) for i in words}

20.8 ns ± 1.03 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [ ]:
mycode = ''' 
d = defaultdict(int)
for w in words: d[w] += 1
'''

In [91]:
mycode = ''' 
#words = list(digits)*10**5

answers = [0, 2, 2, 2]

d = Counter(answers)
'''

In [92]:
mysetup = '''
from collections import Counter
#from string import ascii_letters, digits
'''

In [107]:
timeit.timeit(setup = mysetup, stmt = mycode, number = 7)

3.199999991920777e-05

In [9]:
from collections import Counter
%timeit words
d = Counter(words)

19.4 ns ± 1 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [106]:
answers = [0, 2, 2, 2]
%timeit answers
from collections import Counter

d = Counter(answers)

21.7 ns ± 1.45 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
words=[0, 2, 2, 2]
{i:words.count(i) for i in words}

In [ ]:
start_time = timeit.default_timer()
# code you want to evaluate
elapsed = timeit.default_timer() - start_time

In [ ]:
from itertools import groupby as gb
from math import ceil
answers = [1,0,1,0,0]  
lst = [(len(list(v)), g) for g, v in gb(sorted(answers))]

[(len(list(v)), g) for g, v in gb(sorted(answers))]

In [ ]:
[ceil(t[0]/(t[1] + 1)) * (t[1] + 1) for t in lst]

In [ ]:
from collections import Counter
Counter(answers)

In [ ]:
sum([ceil(v/(k + 1)) * (k + 1) for k, v in Counter(answers).items()])

In [ ]:
[len(answers) + 1 for g, v in gb(sorted(answers))]

In [ ]:
# For every grouping of K rabbits, where K is the total number of rabbits that had the 
# same answer, we can deduce that the minimum number of rabbits is equal to Math.ceil(K/(answer + 1)) * (answer + 1).

In [ ]:
from collections import Counter
answers = [0,0,1,1,1]
l1 = [list(v) for g, v in gb(sorted(answers))]
c = Counter(answers)
c

In [ ]:
sum((c[i] + i) / (i + 1) * (i + 1) for i in c)

In [ ]:
[divmod(len(l), 2) for l in l1]

In [ ]:
answers = [1,0,1,0,0]
#sum(len(answers)) + divmod(len(answers), 2)[1]
#divmod(len(answers), 2)[1]

In [ ]:
from itertools import groupby as gb
l = list(gb(answers, key = lambda k: k))
#list(list(gb(answers))[0][1])

list(l[0][1])

In [ ]:
[(t[0], list(t[1])) for t in l]

In [ ]:
import pandas as pd
df=[['7','4','5','',''],["","","",'7','4'],['9','4','7','8','4'],["","","",'7','5'],['4','8','5','4','6'],['4','9','41','74','20'],['4','Super','yes','0','9']]
df=pd.DataFrame(df)
df.astype('str')
df.iloc[1 : 4,:].apply(lambda x : ''.join(x)).to_frame().transpose()#.reset_index()#.pivot(index = 'index', columns = 'index', values = '0')

In [ ]:


# this is an important step because we need a column to groupby
#df['gb'] = 'gb'

start_end = [[1,3],[4,5]]

#df.columns = ['0', '1', '2', '3', '4', 'gb']

new_df = pd.DataFrame()

for l in start_end:
    
    #temp_df = df.iloc[l[0] : l[1] + 1,:].groupby(['gb']).agg(lambda x : ''.join(x)).reset_index(drop = True)
    temp_df = df.iloc[l[0] : l[1] + 1,:].apply(lambda x : ''.join(x)).to_frame().transpose()
    
    new_df = pd.concat([new_df, temp_df], ignore_index = True)

new_df

In [ ]:
start_end = [[1,3],[4,5]]

new_df = pd.DataFrame()

for l in start_end:
    
    temp_df = df.iloc[l[0] : l[1] + 1,:].apply(lambda x : ''.join(x)).to_frame().transpose()
    
    new_df = pd.concat([new_df, temp_df], ignore_index = True)

new_df

In [ ]:
from itertools import product
{
  sum(x ** 2 for x in xs) : xs
  for xs in product(range(7), repeat=3)
  if sum(x ** 2 for x in xs) % 8 in {3, 4, 0}
}

In [ ]:
[
    (x, f(x) , g(x)) 
    for (x, f(x), g(x)) in (
        (x, f(x), g(fx))
        for (x, f(x)) in (
            (x, f(x)) 
            for x in bigList
        )
        if f(x) < p
    )
    if g(x) < q
]

In [ ]:
def xs(x, y):
    return x - y

iter1 = [1, 2, 3]
iter2 = [4, 6, 8, 9]

iter(list(map(xs, iter1, iter2)))

In [ ]:
import re
pattern = r'base=\"(?P<groupname>[0-9]{1,10})\"'
s = '<div aim="" base="1005260" class="item card cb23 eb02 rb3 d1" ele="2" imgur="kMBzbLb" quantity="" release="" res="1005260" type="1"><div class="content"></div><a class="ab" hash="" href="/cards/1005260-vegito-peerless-combination" title="Peerless Combination - Vegito"><table><tr><td class="dokkan"></td><td class="element"></td></tr><tr><td class="rarity"><i>ssr</i></td><td class="lock off"><i class="material-icons off"></i><i class="material-icons on"></i></td></tr></table></a><div class="dv">11921</div></div>'
int(re.search(pattern, s).group('groupname'))